extends layout
block body
    div.container-sm
        div.row
            div.col
                div.header
                    nav.d-flex.justify-content-between.align-items-center
                        h3.text-muted.mr-auto.p-2 Blog
        div.row.mt-5
            div.col
              ul
                each cat, index in categories
                  li
                    a(href="/category/" + cat.cat_id)=cat.cat_name
