extends layout
block body
    div.container-sm
        div.row
            div.col
                div.header
                    nav.d-flex.justify-content-between.align-items-center
                        h3.text-muted.mr-auto.p-2 Blog
                        form(action="/post/" + post.id + "/edit" method="GET")
                            input(type="Submit" value="Editer")
        div.row
            div.col
                div.bg-light.p-5
                    div.container
                        h1.text-center=post.name

        div.row
            div.col
                span.badge.rounded-pill.bg-primary=post.cat_name
                span.badge.rounded-pill.bg-secondary author
                span.badge.rounded-pill.bg-secondary 01/01/01
                p=post.content