extends layout
block body
    div.container-sm
        div.row
            div.col
                div.header
                    nav.d-flex.justify-content-between.align-items-center
                        h3.text-muted.mr-auto.p-2 Blog
        form(action="/post/" + post.id + "/edit" method="POST")
            div.row
                div.col
                    div.bg-light.p-5
                        input(value=post.name id="name" name="name")
            div.row
                div.col
                    span.badge.rounded-pill.bg-secondary author
                    span.badge.rounded-pill.bg-secondary 01/01/01
                    div
                        select(name="category")
                            each cat in categories
                                option(value=cat.cat_id selected=(post.category === cat.cat_id))= cat.cat_name
                    div
                        textarea(id="content" name="content")=post.content
            div
                input(type="Submit" value="Sauvegarder")
        div.row
            form(action="/post/" + post.id + "/delete" method="POST")
                input(type="Submit" value="Delete")