extends layout
block body
    div.container
        if !logged
            form(method="POST" action="/sign_in")
                div.p-2
                    label(for="username") Nom d'utilisateur
                        input(type="text" id="username" name="username")
                div.p-2
                    label(for="password") Mot de passe
                        input(type="password" id="password" name="password")
                div.flex.p-2
                    input(type="submit" value="Sign in")
                a(href="/login")
                    button Retour
        else
            a(href="/")
                button Vers l'accueil
            form(method="POST" action="/logout")
                input(type="submit" value="Logout")


// ajouter les conditions sur les emails sur la validité